<html>
    <head>
 
    </head>
    <body>
        <div class="ticket">
              <div style="font-size: ;">
         <center> <img alt="" src="log2.jpg" height="90px" width="150px" ></center>
        </div>

 <div>
     <div style="font-size:x-small; line-height: 0px;">
       {{#each Venta}}
    <center><p><strong>RFC:</strong> GAVF871219GY8</p></center>
    <center><p><strong>Fecha:</strong>{{moment FechaVenta}}</p></center>
    <center><p><strong>Telefono:</strong> 312 352 0234</p></center>
    <center><p><strong>Horario</strong></p></center>
    <center><p><strong>Lunes-Vienes</strong> 8:00am-7:00pm</p></center>
    <center><p><strong>Sabado</strong> 8:00am-3:00pm</p></center>
    <center><p><strong>Domingo</strong> 8:00am-2:00pm</p></center>
    <center><p><strong>Vendedor: </strong>{{IdVendedor}}</p></center>
    {{/each}}
    <center><p><strong>Ticket No.</strong>{{id}}</p></center>
    </div>

   <center> 
     <table class=" tabla-borderless table-striped" style="width: 155px;" >
  <thead style="font-size: x-small;">
    <tr>
      <th>Cant</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody style="font-size: x-small;">
    {{#each productos}}
    <tr>
      <td>{{Cantidad}}</td>
      <td>{{Descripcion}}</td>
      <td>${{Precio}}</td>
      <td>${{Importe}}</td>
    </tr>
    {{/each}}
      </tbody>
</table>
</center>

<div style="font-size:x-small; line-height: 1px;" align="right">
{{#each Venta}}
<p>Total Neto <u>${{Total}}</u></p>
<p>Importe en pesos</p>
<br>
<p>Efectivo pesos<u>${{Efectivo}}</u></p>
{{/each}}
<p>Cambio pesos<u>${{Cambio}}</u></p>
</div>
<div style="font-size:x-small; line-height: 1px;" align="right">
<center><p><strong>Devolución o aclaración</strong></p></center>
<center><p style="margin-bottom: 30px;"><strong>unicamente con ticket</strong></p></center>
<center><p><strong>Gracias Por Su Compra</strong></p></center>
 </div>


</div>

        </div>
    </body>
    <style>
      * {
        color: #000000; ,
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}
    </style>
    <br>
    <p style="color: white;"><center>-*-*-*-*-*-*-*-*-*-</center></p>
</html>