<div class="container-fluid p-1">
  <div class="row mx-auto">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-4">
            <center>
          <img alt="" src="log.jpeg" width="700px" height="150px">
          <p>{{momentRe}}</p>
          </center>
        </div>
        <div class="row" style="margin-top: 20px; margin-left:2px;" >
      
                    {{#if ventas }}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas: total en efectico ${{total}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each ventas}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                    {{#if Tventas }}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas: total con Tarjeta ${{to}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each Tventas}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                    {{#if ventas2}}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas 2: total en efectico ${{total2}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each ventas2}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                         {{#if Tventas2 }}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas: total con Tarjeta ${{to2}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each Tventas2}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                    {{#if ventas3}}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas 3: total en efectico ${{total3}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each ventas3}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                         {{#if Tventas3 }}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas: total con Tarjeta ${{to3}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each Tventas3}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                    {{#if Gerencia}}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Gerencia: total en efectico ${{total4}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each Gerencia}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                         {{#if TGerencia }}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas: total con Tarjeta ${{to4}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each TGerencia}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                    {{#if Gerencia2}}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Gerencia 2: total en efectico ${{total5}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each Gerencia2}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                         {{#if TGerencia2 }}
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Ventas: total con Tarjeta ${{to5}}</h1>
                                 <table class=" tabla-borderless " style="width: 100%; height: auto;" >
                                        <thead>
                                            <tr style="border-top: 1px solid black;">
                                            <th>Id</th>
                                            <th>Fecha y Hora</th>
                                            <th>Total</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {{#each TGerencia2}}
                                            <tr style="border-top: 1px solid black;">
                                            <td>{{IdVenta}}</td>
                                            <td>{{momentC FechaVenta}}</td>
                                            <td>{{Total}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <br>
                        {{/if}}
                        
</div>
</div>
</div>
</div>
</div>