<html>
    <head>
 
    </head>
    <body>
        <div class="ticket">
              <div>
         <center> <img alt="" src="log.jpeg" height="90px" width="150px" ></center>
        </div>

 <div>
     <div style="font-size:x-small; line-height: 0px;">
       {{#each Venta}}
    <center><p><strong>RFC:</strong> GAVF871219GY8</p></center>
    <center><p><strong>Fecha:</strong>{{moment FechaVenta}}</p></center>
    <center><p><strong>Ticket No.</strong>--123--</p></center>
    <center><p>FerreMax El Boulevard </p></center>
    <center><p>Pino Suarez Local 3</p></center>
    <center><p><strong>Vendedor:</strong>{{IdVendedor}}</p></center>
    {{/each}}
    </div>

   <center> 
     <table class=" tabla-borderless table-striped" style="width: 155px;" >
  <thead style="font-size: x-small;">
    <tr>
      <th>Cant</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody style="font-size: x-small;">
    {{#each productos}}
    <tr>
      <td>{{Cantidad}}</td>
      <td>{{Descripcion}}</td>
      <td>{{Precio}}</td>
      <td>{{Importe}}</td>
    </tr>
    {{/each}}
      </tbody>
</table>
</center>

<div style="font-size:x-small; line-height: 1px;" align="right">
{{#each Venta}}
<p>Total Neto <u>${{Total}}</u></p>
<p>Importe en pesos</p>
<br>
<p>Efectivo pesos<u>${{Efectivo}}</u></p>
{{/each}}
<p>Cambio pesos<u>${{Cambio}}</u></p>
</div>
<div style="font-size:x-small; line-height: 1px;" align="right">
<center><p>Computadora:<strong></strong></p></center>
<center><p>Folio Interno: {{id}}</p></center>
<center><p><strong>Gracias Por Su Compra</strong></p></center>
 </div>


</div>

        </div>
    </body>

    <br>
    <p style="color: white;">asdfasdfasdfasdf</p>
<button onclick="window.print()">Imprimir pantalla con otro ejemplo</button>
</html>